[Desktop Entry]
Name=VizionViewer
Comment=
Version=25.09.1
Type=Application
Icon=/opt/vizionviewer/icons/icon.png
Terminal=false
Exec=/opt/vizionviewer/vizionviewer.sh
Path=/opt/vizionviewer
Categories=Utility
StartupNotify=true
